* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
    background-color: rgb(233, 238, 236);
    width: 100vw;
    height: 100vh;
}

.box {
    background-color: rgb(174, 211, 200);
}

.child {
    width: 20vw;
    height: 90%;

}

.second {
    background-color: rgb(15, 99, 64);
}




.tip_button {
    background-color: rgb(15, 99, 64);
    width: 30%;
}

.tip_button_custom {
    background-color: rgb(15, 99, 64);
    width: 30%;
}



.custom {
    background-color: rgb(191, 201, 201);
}

.text {
    font-size: 1.1rem;
}

.money_text {
    color: rgb(16, 187, 150);
    font-size: 1.5rem;
}

.text-info {
    color: rgb(16, 187, 150) !important;
}

.btn-primary {
    background-color: rgb(16, 187, 150);
}









.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.green-button.active {
    background-color: red;
}







/* 
.input-group-text {
    background-color: #fff;
    border: none;
}

.form-control {
    border-left: none;
} */



.input-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.input {
    flex: 1;
    text-align: right;
    border: none;
    outline: none;
    background-color: azure;
}

.input-container {
    background-color: azure;
}