* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
}

.box {
    background-color: #c5e4e7;
    height: 50%;
    box-shadow: 0px 30px 40px #4d5b5c94;
}

.child {
    width: 45;
    height: 90%;

}


.child-container {
    width: 60%;
    height: 330px;
    padding: 5px;
}


.splitter {
    position: relative;
    top: 12%;
    letter-spacing: 0.35rem;
}


.second {
    background-color: #00474b;
}




.tip_button {
    background-color: #00474b;


    height: 100%;
}

.tipp_button {
    width: 90%;
}


.tip_button_custom {
    background-color: #f3f9f9 !important;
    /* width: 30%;
    height: 39%; */
    width: 90%;
    color: #5a6869;
}



.custom {
    background-color: #f4f8fb;
}

.text {
    font-size: 1.1rem;
}

.money_text {
    color: #31c3b1;
    font-size: 1.5rem;
}

.text-info {
    color: #547477 !important;
}

.btn-primary {
    background-color: #26c2ad;
}



.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.green-button.active {
    background-color: red;
}


.input-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.input {
    flex: 1;
    text-align: right;
    border: none;
    outline: none;
    background-color: #f3f8fb;
}

.input-container {
    background-color: #f3f8fb;


}

.custom_input {
    border: 0.2rem solid #57a399;
    background-color: #f3f8fb;
    border-radius: 3px;
    outline: none;
    color: #547477;
}



.text-success {
    color: #026e6d !important;
}


.mobile {
    display: none;
}

.first {
    height: 32vh;
}

.second {

    height: 33vh;
}



@media only screen and (max-width: 600px) {
    .background {
        width: 100%;
    }

    .main-container {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .child-container {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 660px;

    }

    .splitter {
        top: 5vh;
    }

    .first {
        width: 100%;
        height: 40vh;

    }

    .second {
        width: 100%;

    }




}