* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
    background-color: #f0f0f0;
    width: 100vw;
    height: 100vh;
}

.box {
    background-color: #c5e4e7;
    box-shadow: 0px 30px 40px #4d5b5c21;
}

.child {
    width: 20vw;
    height: 90%;

}

.second {
    background-color: #00474b;
}




.tip_button {
    background-color: #00474b;
    width: 30%;
}

.tip_button_custom {
    background-color: rgb(15, 99, 64);
    width: 30%;
}



.custom {
    background-color: #f4f8fb;
}

.text {
    font-size: 1.1rem;
}

.money_text {
    color: #31c3b1;
    font-size: 1.5rem;
}

.text-info {
    color: #547477 !important;
}

.btn-primary {
    background-color: #26c2ad;
}









.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.green-button.active {
    background-color: red;
}







/* 
.input-group-text {
    background-color: #fff;
    border: none;
}

.form-control {
    border-left: none;
} */



.input-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.input {
    flex: 1;
    text-align: right;
    border: none;
    outline: none;
    background-color: #f3f8fb;
}

.input-container {
    background-color: #f3f8fb;


}